/**
 * WEBSITE: https://nvrk.iitm.ac.in/
 */

/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700");
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-weight: 600;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.6875rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}

p, a, li, blockquote, label {
  font-size: 1rem;
  line-height: 26px;
  color: #848484;
  margin-bottom: 0;
}

.form-control::-webkit-input-placeholder {
  color: #b3b3b3;
  font-size: 0.9375rem;
}

ul.social-links {
  margin-bottom: 0;
}
ul.social-links li:first-child a {
  padding-left: 0;
}
ul.social-links li a {
  padding: 0 15px;
  display: block;
}
ul.social-links li a i {
  font-size: 20px;
  color: #222222;
}

.main {
  margin-bottom: 1000px;
}

.shadow, .schedule.two .schedule-contents, .organiser.white .speaker-item:hover, .speakers.white .speaker-item:hover {
  box-shadow: 0px 0px 30px 0px rgba(11, 29, 66, 0.15);
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.overlay:before {
  content: "";
  background: url(../images/background/objects.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay:after {
  content: "";
  background: -webkit-linear-gradient(-45deg, #1e5799 0%, #1d1546 0%, #1a0b25 100%, #207cca 100%);
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-lighter:before {
  content: "";
  background: -webkit-linear-gradient(-45deg, #1e5799 0%, #1d1546 0%, #1a0b25 100%, #207cca 100%);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text-overlay:after {
  content: "CONFERENCE";
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 215px;
  width: 100%;
  height: 300px;
  background-position: center center;
  position: absolute;
  top: 40%;
  left: 50%;
  opacity: 0.05;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .text-overlay:after {
    font-size: 100px;
  }
}
@media (max-width: 575px) {
  .text-overlay:after {
    font-size: 70px;
  }
}

.overlay-primary:before {
  content: "";
  background: rgba(255, 102, 0, 0.93);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-dark:before {
  content: "";
  background: -webkit-linear-gradient(-45deg, #1e5799 0%, #1d1546 0%, #1a0b25 100%, #207cca 100%);
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-yellow:before {
  content: "";
  background: -webkit-linear-gradient(-45deg, #99871e 0%, #464215 0%, #25250b 100%, #c3d70c 100%);
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-white:before {
  content: "";
  background: linear-gradient(0deg, rgba(245, 245, 248, 0.8) 0%, rgb(247, 247, 247) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-gray:before {
  content: "";
  background: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-kousik:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-white-slant:before {
  content: "";
  width: 100%;
  margin-left: -45%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skewX(-20deg);
}
@media (max-width: 767px) {
  .overlay-white-slant:before {
    content: none;
  }
}

span.alternate {
  color: #f18350;
  font-style: italic;
  font-weight: 400;
}

a {
  transition: 0.2s ease;
}

a:focus, a:hover {
  color: #f18350;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.bg-gray {
  background: #fafafa;
}

.bg-blue {
  background: #f18350;
}

.bg-banner-one {
  background: url(../images/background/banner2.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-banner-two {
  background: url(../images/background/banner-bg-two.jpg) no-repeat;
  background-size: cover;
  background-position: right center;
}
@media (max-width: 767px) {
  .bg-banner-two {
    background-position: center center;
  }
}

.bg-about {
  background: url(../images/background/pattern-background.jpg) no-repeat;
  background-size: cover;
}

.bg-speaker {
  background: url(../images/background/spaeker-background.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-timer {
  background: url(../images/background/timer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-schedule {
  background: url(../images/background/schedule-bg.png) no-repeat;
  background-size: cover;
}

.bg-service {
  background: url(../images/background/feature-background.jpg) no-repeat;
  background-size: cover;
}

.bg-registration {
  background: url(../images/background/registration-background.jpg) no-repeat;
  background-size: cover;
}

.bg-registration-two {
  background: url(../images/background/bg-registration-two.jpg) no-repeat;
  background-size: cover;
}

.bg-ticket {
  background: url(../images/background/cta-ticket-bg.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-sponsors {
  background: url(../images/background/sponsors-bg.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-subscribe {
  background: url(../images/background/newsletter-bg.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-title {
  background: url(../images/background/page-title-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.section {
  padding: 45px 0;
}

.border-less {
  border-bottom: 1px solid #e5e5e5;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}
.section-title h3 {
  margin-bottom: 10px;
}
.section-title.white h3, .section-title.white p {
  color: #fff;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.page-title {
  text-align: center;
}

.video {
  position: relative;
}
.video:before {
  border-radius: 3px;
}
.video img {
  width: 100%;
  border-radius: 8px;
}
.video .video-button {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.video .video-box a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video .video-box a i {
  height: 125px;
  width: 125px;
  font-size: 40px;
  background: #f18350;
  border-radius: 100%;
  color: #fff;
  line-height: 125px;
  text-align: center;
}
.video .video-box a iframe {
  width: 100%;
  height: 100%;
}

.form-control {
  background: transparent;
  border: 1px solid #b3b3b3;
  border-radius: 0;
  font-size: 0.9375rem;
  padding: 15px 20px;
  height: 48px;
  margin-bottom: 20px;
  color: #b3b3b3;
}
.form-control:focus {
  border: 1px solid #f18350;
  box-shadow: none;
}
.form-control.white {
  background: #fff;
  color: #222222;
}

select.form-control:not([size]):not([multiple]) {
  height: 100%;
}

.left {
  overflow: hidden;
}
.left img {
  margin-left: -40px;
}
@media (max-width: 767px) {
  .left img {
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.right {
  overflow: hidden;
}
.right img {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .right img {
    margin-left: 0;
  }
}

.hide-overflow {
  overflow: hidden;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  /* ideally, transition speed should match zoom duration */
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.border-top {
  border-top: 1px solid;
}

.slick-slide:focus {
  outline: 0;
}

.btn {
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
}

.btn-main {
  padding: 25px 45px;
  border-radius: 3px;
  background: #f18350;
  color: #fff;
  outline: none;
}
.btn-main:hover {
  color: #fff;
}
.btn-main:focus {
  color: #fff;
  box-shadow: none;
}

.btn-main-md {
  padding: 15px 40px;
  border-radius: 0;
  background: #f18350;
  color: #fff;
  outline: none;
  font-size: 0.9375rem;
}
.btn-main-md:hover {
  color: #fff;
  background: #ef7238;
}
.btn-main-md:focus {
  color: #fff;
  box-shadow: none;
}

.btn-transparent-md {
  padding: 15px 40px;
  background: transparent;
  outline: none;
  font-size: 0.9375rem;
  color: #222222;
  border: 1px solid #e5e5e5;
  border-radius: 0;
}
.btn-transparent-md:hover {
  background: #f18350;
  border-color: #f18350;
  color: #fff;
}

.btn-main-sm {
  padding: 15px 35px;
  border-radius: 3px;
  background: #f18350;
  color: #fff;
  outline: none;
  font-size: 14px;
}
.btn-main-sm:hover {
  color: #fff;
}
.btn-main-sm:focus {
  color: #fff;
  box-shadow: none;
}

.btn-white-md {
  background: #fff;
  color: #222222;
  padding: 15px 40px;
  font-weight: 800px;
  border-radius: 0;
}
.btn-white-md:hover {
  background: light;
  color: #199400;
}

.btn-title-md {
  background: #f18350;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  padding: 15px 40px;
  border-radius: 10px;
}
.btn-title-md:hover {
  background: #fff;
  color: #199400;
}

.btn-rounded-icon {
  border-radius: 100px;
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 50px;
}

.main-nav {
  background: #eeeeee;
}
@media (max-width: 767px) {
  .main-nav {
    position: fixed;
  }
}
.main-nav .navbar-brand {
  padding: 10px 10px 10px 10px;
}
@media (max-width: 1200px) {
  .main-nav .navbar-brand {
    padding: 10px 10px;
  }
}
@media (max-width: 767px) {
  .main-nav .navbar-brand {
    border-right: none;
  }
}
.main-nav .navbar-nav .nav-item {
  position: relative;
  font-family: "Roboto", sans-serif;
}
.main-nav .navbar-nav .nav-item .nav-link {
  position: relative;
  text-align: center;
  color: #222222;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 1.06rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1352px) {
  .main-nav .navbar-nav .nav-item .nav-link {
    font-size: 0.86rem;
    padding-right: 10px;
  }
}
@media (max-width: 1200px) {
  .main-nav .navbar-nav .nav-item .nav-link {
    padding-left: 4px;
    padding-right: 10px;
  }
}
@media (max-width: 991px) {
  .main-nav .navbar-nav .nav-item .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.main-nav .navbar-nav .nav-item .nav-link span {
  color: #222222;
  margin-left: 16px;
}
@media (max-width: 1200px) {
  .main-nav .navbar-nav .nav-item .nav-link span {
    margin-left: 10px;
  }
}
@media (max-width: 1024px) {
  .main-nav .navbar-nav .nav-item .nav-link span {
    margin-left: 10px;
  }
}
@media (max-width: 991px) {
  .main-nav .navbar-nav .nav-item .nav-link span {
    display: none;
  }
}
.main-nav .navbar-nav .nav-item:hover .nav-link, .main-nav .navbar-nav .nav-item.active .nav-link {
  color: #f18350;
}
.main-nav .dropdown {
  position: relative;
}
.main-nav .dropdown .open > a,
.main-nav .dropdown .open > a:focus,
.main-nav .dropdown .open > a:hover {
  background: transparent;
}
.main-nav .dropdown.full-width .dropdown-menu {
  left: 0 !important;
  right: 0 !important;
}
.main-nav .dropdown .dropdown-menu {
  min-width: 220px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.main-nav .dropdown .dropdown-menu .dropdown-item {
  font-size: 15px;
  padding: 10px 16px;
  transition: 0.3s ease;
}
.main-nav .dropdown .dropdown-menu .dropdown-item:hover {
  background: #fff;
  color: #f18350;
}
@media (max-width: 991px) {
  .main-nav .dropdown .dropdown-menu {
    transform: none;
    left: auto;
    position: relative;
    text-align: center;
    opacity: 1;
    visibility: visible;
    background: rgb(243, 243, 243);
  }
}
.main-nav .dropdown:hover > .dropdown-menu {
  border-top: 3px solid #f18350;
  opacity: 1;
  display: block;
  visibility: visible;
  color: #777;
  transform: translateY(0);
}

.page-title {
  position: relative;
  padding: 165px 0 65px;
}
@media (max-width: 1200px) {
  .page-title {
    padding: 140px 0 65px;
  }
}
@media (max-width: 767px) {
  .page-title {
    padding: 65px 0;
  }
}
.page-title h3, .page-title li, .page-title a {
  color: #eeeeee;
}
.page-title .title {
  text-align: center;
}
.page-title .title h3 {
  display: inline-flex;
  font-weight: 800;
  text-shadow: 3.5px 6.062px 2px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.page-title .title h3 span {
  background-color: rgba(0, 0, 0, 0.8);
}
.page-title .breadcrumb {
  background: transparent;
}
.page-title .breadcrumb .breadcrumb-item {
  float: none;
  display: inline-block;
  text-transform: uppercase;
}
.page-title .breadcrumb .breadcrumb-item.active {
  color: #fff;
}
.page-title .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "\f105";
  font-family: FontAwesome;
  color: #fff;
}

.footer-main {
  background: #272735;
  padding: 45px 0;
}
@media (max-width: 767px) {
  .footer-main {
    padding: 50px 0;
  }
}
.footer-main .bl img {
  margin-bottom: 60px;
}
.footer-main .footer1 h1 {
  color: #fff;
  font-size: 20px;
}
.footer-main .footer1 p {
  color: #fff;
  font-size: 15px;
  line-height: 22px;
}
.footer-main .footer1 a {
  color: #f18350;
}
.footer-main .footer1 a:hover {
  color: #eeeeee;
}
.footer-main .footer2 {
  text-align: right;
}
.footer-main .footer2 h1 {
  color: #fff;
  font-size: 20px;
}
.footer-main .footer2 p {
  color: #fff;
  font-size: 15px;
  line-height: 22px;
}
.footer-main .footer2 a {
  color: #f18350;
}
.footer-main .footer2 a:hover {
  color: #eeeeee;
}

.subfooter {
  background: #2a2a37;
  padding: 18px 0;
}
.subfooter .copyright-text p {
  font-family: "Montserrat", sans-serif;
}
.subfooter .copyright-text p a {
  color: #f18350;
}
@media (max-width: 767px) {
  .subfooter .copyright-text {
    text-align: center;
  }
}
.subfooter .to-top {
  display: block;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #f18350;
  float: right;
}
.subfooter .to-top i {
  font-size: 1.5rem;
  color: #fff;
  line-height: 45px;
}
@media (max-width: 767px) {
  .subfooter .to-top {
    float: none;
    margin: auto;
    margin-top: 30px;
  }
}

.cta-ticket {
  position: relative;
}
.cta-ticket .content-block {
  padding: 100px 0;
}
.cta-ticket .content-block h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}
.cta-ticket .content-block p {
  color: #e6e6e6;
  margin-bottom: 45px;
}
.cta-ticket .image-block {
  position: absolute;
  right: 5%;
  bottom: 0;
}
@media (max-width: 767px) {
  .cta-ticket .image-block {
    display: none;
  }
}

.cta-subscribe {
  position: relative;
}
.cta-subscribe .content {
  padding: 70px 0;
}
.cta-subscribe .content h3, .cta-subscribe .content p {
  color: #fff;
}
.cta-subscribe .content h3 {
  font-weight: 500;
}
.cta-subscribe .content p {
  font-size: 0.9375rem;
}
.cta-subscribe .subscribe-button button {
  cursor: pointer;
}
@media (max-width: 767px) {
  .cta-subscribe .subscribe-button {
    margin-bottom: 30px;
  }
}

.slider-div .div-slider .item .block {
  padding: 2px;
  text-align: center;
  border-radius: 5px;
}
.slider-div .div-slider .item .block .image {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .slider-div .div-slider .item .block .image {
    flex-grow: 1;
  }
}
.slider-div .div-slider .item .block .image img {
  height: 280px;
}
.slider-div .div-slider .owl-dots .owl-dot:hover span {
  background: #f18350;
}
.slider-div .div-slider .owl-dots .owl-dot.active span {
  background: #f18350;
}

.banner {
  padding: 200px 0 50px;
  position: relative;
}
.banner .block {
  position: relative;
}
.banner .block h1 {
  font-size: 45px;
  color: #eeeeee;
  padding: 10px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 45px;
}
.banner .block h2 {
  font-size: 35px;
  color: #eeeeee;
  padding: 5px 20px 5px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  font-weight: 800;
}
.banner .block h3 {
  color: #f18350;
  font-size: 60px;
  padding: 5px 20px 5px 20px;
  font-weight: 800;
  margin-bottom: 50px;
  text-shadow: 3.5px 6.062px 2px rgba(0, 0, 0, 0.3);
}
.banner .block h4 {
  text-align: center;
  padding: 10px 5px 10px 5px;
  font-size: 35px;
  background-color: #eeeeee;
  color: #f18350;
  border-radius: 10px;
  font-weight: 600;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.about .image-block {
  padding: 30px;
}
.about .image-block img {
  height: 175px;
  border-radius: 100%;
  box-shadow: 0px 0px 59px 0px rgba(11, 29, 66, 0.15);
}
.about .image-block h2 {
  color: #242424;
  margin-top: 5px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .about .image-block {
    margin-bottom: 30px;
    text-align: center;
  }
}
.about .content-block {
  margin-left: 15px;
}
@media (max-width: 767px) {
  .about .content-block {
    text-align: center;
  }
}
.about .content-block h2 {
  margin-bottom: 35px;
}
.about .content-block h2:after {
  content: "";
  width: 60px;
  height: 3px;
  background: #f18350;
  display: block;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .about .content-block h2:after {
    margin: auto;
  }
}
.about .content-block .description-one {
  margin-bottom: 20px;
}
.about .content-block .description-one p {
  color: #222222;
  font-size: 1.0625rem;
  text-align: justify;
}
.about .content-block .description-two {
  margin-bottom: 10px;
}
.about .content-block .description-two p {
  font-size: 0.9375em;
  text-align: justify;
}

.speakers {
  position: relative;
}
.speakers.white .speaker-item {
  background: #eeeeee;
  border: 1px solid #e5e5e5;
}
.speakers .speaker-item {
  background: #eeeeee;
  padding: 7px;
  margin-bottom: 30px;
}
.speakers .speaker-item .image {
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 575px) {
  .speakers .speaker-item .image img {
    width: 100% !important;
  }
}
.speakers .speaker-item .image .primary-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f18350;
  opacity: 0.85;
  transition: 0.3s ease;
}
.speakers .speaker-item .image .socials {
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
}
.speakers .speaker-item .image .socials ul {
  width: 50%;
}
@media (max-width: 1200px) {
  .speakers .speaker-item .image .socials ul {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
}
.speakers .speaker-item .image .socials ul li.list-inline-item:not(:last-child) {
  margin-right: 7px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .speakers .speaker-item .image .socials ul li.list-inline-item:not(:last-child) {
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media (max-width: 1200px) {
  .speakers .speaker-item .image .socials ul li.list-inline-item:last-child {
    margin-right: 5px;
    margin-left: 5px;
  }
}
.speakers .speaker-item .image .socials ul li a {
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid #fff;
}
.speakers .speaker-item .image .socials ul li a i {
  font-size: 0.9375rem;
  color: #fff;
  line-height: 50px;
}
.speakers .speaker-item .image .socials ul li a:hover {
  background: #fff;
}
.speakers .speaker-item .image .socials ul li a:hover i {
  color: #222222;
}
.speakers .speaker-item .image:hover .primary-overlay {
  top: 0;
}
.speakers .speaker-item .image:hover .socials {
  top: 0;
}
.speakers .speaker-item .content h5 {
  margin-bottom: 0px;
}
.speakers .speaker-item .content h5 a {
  font-size: 15px;
  color: #222222;
  font-weight: 600;
  line-height: 15px;
}
.speakers .speaker-item .content h5 a:hover {
  color: #f18350;
}
.speakers .speaker-item .content h2 {
  font-size: 0.875rem;
  line-height: 16px;
  margin-bottom: 2px;
}
.speakers .speaker-item .content p {
  font-size: 0.875rem;
  line-height: 16px;
  margin-bottom: 0px;
}

.countdown h2 {
  padding: 25px;
  margin-bottom: -50px;
  color: #fff;
}
.countdown .timer .syotimer-cell {
  margin-top: 50px;
  margin-right: 25px;
  margin-bottom: 33px;
  display: inline-block;
}
@media (max-width: 575px) {
  .countdown .timer .syotimer-cell {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}
.countdown .timer .syotimer-cell .syotimer-cell__value {
  min-width: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  line-height: 77px;
  text-align: center;
  position: relative;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  border: 2px solid #f18350;
  margin-bottom: 8px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3.5px 6.062px 0px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 575px) {
  .countdown .timer .syotimer-cell .syotimer-cell__value {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .countdown .timer .syotimer-cell .syotimer-cell__value {
    min-width: 65px;
    line-height: 61px;
    font-size: 25px;
  }
}
.countdown .timer .syotimer-cell .syotimer-cell__unit {
  text-align: center;
  font-size: 1.1rem;
  font-weight: normal;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.sponsors {
  position: relative;
}
.sponsors .sponsor-title {
  margin-top: 5px;
  margin-bottom: 5px;
}
.sponsors .sponsor-title h5 {
  color: #f18350;
}
.sponsors .block {
  margin-bottom: 40px;
}
.sponsors .block .list-inline-item:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 991px) {
  .sponsors .block .list-inline-item:not(:last-child) {
    margin-right: 7px;
    margin-left: 7px;
  }
}
@media (max-width: 991px) {
  .sponsors .block .list-inline-item:last-child {
    margin-right: 7px;
    margin-left: 7px;
  }
}
.sponsors .block .image-block {
  padding: 10px 0px 10px 0px;
  width: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.sponsors .block .image-block img {
  padding: 0px 10px 0px 10px;
  height: 75px;
}
.sponsors .block .image-block2 {
  padding: 10px 0px 10px 0px;
  width: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.sponsors .block .image-block2 img {
  padding: 0px 10px 0px 10px;
  height: 100px;
}
.sponsors .sponsor-btn {
  margin-top: 10px;
  margin-bottom: 30px;
}

.map {
  position: relative;
}
.map #map {
  height: 480px;
  color: white;
}
.map .address-block {
  position: absolute;
  padding: 45px 50px 50px 50px;
  top: 80px;
  left: 10%;
  background: #f18350;
}
@media (max-width: 575px) {
  .map .address-block {
    display: none;
  }
}
.map .address-block h4, .map .address-block li {
  color: #fff;
  margin-bottom: 20px;
}
.map .address-block h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
.map .address-block ul.address-list li {
  list-style: none;
  margin-bottom: 10px;
}
.map .address-block ul.address-list li i {
  font-size: 1.125rem;
}
.map .address-block ul.address-list li span {
  margin-left: 15px;
}
.map .address-block a {
  margin-top: 35px;
}
.map.new {
  overflow: hidden;
}
.map.new #map {
  height: 640px;
}
.map.new .address-block {
  left: 60%;
}
@media (max-width: 991px) {
  .map.new .address-block {
    left: 52%;
  }
}
@media (max-width: 767px) {
  .map.new .address-block {
    left: 5%;
  }
}
.map.new .register {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .map.new .register {
    width: 100%;
    position: relative;
  }
}
.map.new .register .block {
  padding: 130px 10%;
}
.map.new .register .block .title {
  position: relative;
  margin-bottom: 65px;
}
.map.new .register .block .title h3 {
  color: #fff;
  font-weight: 400;
}
.map.new .register .block .title p {
  color: #fff;
}
.map.new .register .block .form-control, .map.new .register .block button {
  margin-bottom: 40px;
}

.venue {
  padding: 45px 0;
}
.venue p {
  text-align: justify;
  line-height: 24px;
  margin-bottom: 10px;
}
.venue a {
  color: #f18350;
}
.venue a:hover {
  color: #199400;
}

.address-block {
  background-color: #f18350;
  text-align: center;
  padding: 10px 20px 30px 20px;
}
.address-block h1 {
  padding: 20px 0px 10px 0px;
  color: #eeeeee;
  font-size: 40px;
}
.address-block h2 {
  color: #eeeeee;
  font-size: 20px;
  padding: 0px 10px 10px 10px;
}

.single-speaker .block {
  padding-bottom: 70px;
  border-bottom: 1px solid #e5e5e5;
}
.single-speaker .block .image-block {
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 6px;
}
.single-speaker .block .image-block img {
  width: 100%;
}
@media (max-width: 767px) {
  .single-speaker .block .image-block {
    margin-bottom: 30px;
  }
}
.single-speaker .block .content-block .name h3 {
  font-weight: 400;
}
.single-speaker .block .content-block .profession {
  margin-bottom: 20px;
}
.single-speaker .block .content-block .profession p {
  color: #f18350;
  font-size: 0.9375rem;
}
.single-speaker .block .content-block .details {
  margin-bottom: 35px;
}
.single-speaker .block .content-block .details p {
  font-size: 0.9375rem;
}
.single-speaker .block .content-block .details p:not(:last-child) {
  margin-bottom: 35px;
}
.single-speaker .block .content-block .social-profiles h5 {
  font-size: 5px;
  font-weight: 400;
  margin-bottom: 25px;
}
.single-speaker .block .content-block .social-profiles ul.social-list li a {
  display: block;
  height: 40px;
  width: 40px;
  background: #fff;
  border: 1px solid #e5e5e5;
  text-align: center;
}
.single-speaker .block .content-block .social-profiles ul.social-list li a i {
  line-height: 40px;
}
.single-speaker .block .content-block .social-profiles ul.social-list li a:hover {
  background: #f18350;
  border: 1px solid #f18350;
  color: #fff;
}
.single-speaker .block-2 {
  padding-top: 70px;
  padding-bottom: 10px;
}
.single-speaker .block-2 h3,
.single-speaker .block-2 p,
.single-speaker .block-2 li {
  font-size: 0.9375rem;
}
.single-speaker .block-2 .personal-info h5,
.single-speaker .block-2 .skills h5 {
  font-size: 5px;
  font-weight: 400;
  margin-bottom: 15px;
}
.single-speaker .block-2 .personal-info p,
.single-speaker .block-2 .skills p {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .single-speaker .block-2 .personal-info {
    margin-bottom: 30px;
  }
}
.single-speaker .block-2 .personal-info ul li {
  position: relative;
  list-style: none;
  margin-left: 25px;
}
.single-speaker .block-2 .personal-info ul li:not(:last-child) {
  margin-bottom: 5px;
}
.single-speaker .block-2 .personal-info ul li:before {
  position: absolute;
  left: -25px;
  content: "\f10c";
  font-family: FontAwesome;
  color: #f18350;
}
.single-speaker .block-2 .skills .skill-bar {
  margin-bottom: 20px;
}
.single-speaker .block-2 .skills .skill-bar p {
  margin-bottom: 5px;
}
.single-speaker .block-2 .skills .skill-bar .progress {
  border-radius: 0;
  overflow: visible;
}
.single-speaker .block-2 .skills .skill-bar .progress .progress-bar {
  background-color: #f18350;
}
.single-speaker .block-2 .skills .skill-bar .progress .progress-bar span {
  font-family: "Montserrat", sans-serif;
  float: right;
  color: white;
}

.speakers-full-width {
  overflow: hidden;
}
.speakers-full-width .speaker-slider .speaker-image {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.speakers-full-width .speaker-slider .speaker-image img {
  width: 100%;
}
.speakers-full-width .speaker-slider .speaker-image .primary-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f18350;
  opacity: 0.85;
  transition: 0.3s ease;
}
.speakers-full-width .speaker-slider .speaker-image .primary-overlay h5,
.speakers-full-width .speaker-slider .speaker-image .primary-overlay p,
.speakers-full-width .speaker-slider .speaker-image .primary-overlay i {
  color: #fff;
}
.speakers-full-width .speaker-slider .speaker-image .primary-overlay h5,
.speakers-full-width .speaker-slider .speaker-image .primary-overlay p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.speakers-full-width .speaker-slider .speaker-image .primary-overlay h5 {
  font-size: 5px;
  padding-top: 25%;
  margin-bottom: 10px;
}
.speakers-full-width .speaker-slider .speaker-image .primary-overlay h5,
.speakers-full-width .speaker-slider .speaker-image .primary-overlay ul,
.speakers-full-width .speaker-slider .speaker-image .primary-overlay p {
  transition: 0.7s ease;
  transform: translate(0, 30px);
  opacity: 0;
}
.speakers-full-width .speaker-slider .speaker-image .primary-overlay p {
  margin-bottom: 10px;
}
.speakers-full-width .speaker-slider .speaker-image .primary-overlay ul .list-inline-item:not(:last-child) {
  margin-right: 10px;
}
.speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay {
  top: 0;
}
.speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay h5,
.speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay p,
.speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay ul {
  transform: translate(0, 0);
  opacity: 1;
}
.speakers-full-width .speaker-slider .slick-prev {
  left: 60px;
}
@media (max-width: 767px) {
  .speakers-full-width .speaker-slider .slick-prev {
    left: 20px;
  }
}
.speakers-full-width .speaker-slider .slick-prev:before {
  content: "\f104";
}
.speakers-full-width .speaker-slider .slick-next {
  right: 60px;
}
@media (max-width: 767px) {
  .speakers-full-width .speaker-slider .slick-next {
    right: 20px;
  }
}
.speakers-full-width .speaker-slider .slick-next:before {
  content: "\f105";
}
.speakers-full-width .speaker-slider .slick-prev,
.speakers-full-width .speaker-slider .slick-next {
  background: #fff;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  z-index: 100;
}
@media (max-width: 1024px) {
  .speakers-full-width .speaker-slider .slick-prev,
  .speakers-full-width .speaker-slider .slick-next {
    height: 35px;
    width: 35px;
  }
}
.speakers-full-width .speaker-slider .slick-prev:hover:before,
.speakers-full-width .speaker-slider .slick-next:hover:before {
  color: #f18350;
}
.speakers-full-width .speaker-slider .slick-prev:before,
.speakers-full-width .speaker-slider .slick-next:before {
  color: #f18350;
  font-family: FontAwesome;
}

.about {
  padding: 120px 0;
}

.organiser {
  position: relative;
}
.organiser.white .speaker-item {
  background: #eeeeee;
  border: 1px solid #e5e5e5;
}
.organiser .organiser-item {
  background: #eeeeee;
  padding: 7px;
  margin-bottom: 30px;
}
.organiser .organiser-item .image {
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 575px) {
  .organiser .organiser-item .image img {
    width: 100% !important;
  }
}
.organiser .organiser-item .image .primary-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f18350;
  opacity: 0.85;
  transition: 0.3s ease;
}
.organiser .organiser-item .image .socials {
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
}
.organiser .organiser-item .image .socials ul {
  width: 50%;
}
@media (max-width: 1200px) {
  .organiser .organiser-item .image .socials ul {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
}
.organiser .organiser-item .image .socials ul li.list-inline-item:not(:last-child) {
  margin-right: 7px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .organiser .organiser-item .image .socials ul li.list-inline-item:not(:last-child) {
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media (max-width: 1200px) {
  .organiser .organiser-item .image .socials ul li.list-inline-item:last-child {
    margin-right: 5px;
    margin-left: 5px;
  }
}
.organiser .organiser-item .image .socials ul li a {
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid #fff;
}
.organiser .organiser-item .image .socials ul li a i {
  font-size: 0.9375rem;
  color: #fff;
  line-height: 50px;
}
.organiser .organiser-item .image .socials ul li a:hover {
  background: #fff;
}
.organiser .organiser-item .image .socials ul li a:hover i {
  color: #222222;
}
.organiser .organiser-item .image:hover .primary-overlay {
  top: 0;
}
.organiser .organiser-item .image:hover .socials {
  top: 0;
}
.organiser .organiser-item .content h5 {
  margin-bottom: 0px;
}
.organiser .organiser-item .content h5 a {
  font-size: 15px;
  color: #222222;
  font-weight: 600;
  line-height: 15px;
}
.organiser .organiser-item .content h5 a:hover {
  color: #f18350;
}
.organiser .organiser-item .content h2 {
  font-size: 0.875rem;
  line-height: 16px;
  margin-bottom: 2px;
}
.organiser .organiser-item .content p {
  font-size: 0.875rem;
  line-height: 16px;
  margin-bottom: 0px;
}

.schedule .schedule-tab {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}
.schedule .schedule-tab ul li.nav-item {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .schedule .schedule-tab ul li.nav-item {
    width: 100%;
    margin-bottom: 10px;
  }
}
.schedule .schedule-tab ul li.nav-item a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #f18350;
  font-weight: 500;
  display: block;
  border-radius: 0;
  border: 1px solid #e5e5e5;
  padding: 20px 30px;
}
.schedule .schedule-tab ul li.nav-item a span {
  margin-top: 2px;
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: 1rem;
  color: #848484;
  font-weight: 400;
}
.schedule .schedule-tab ul li.nav-item a.active {
  background: #f18350;
  color: #fff;
  position: relative;
}
.schedule .schedule-tab ul li.nav-item a.active span {
  color: #fff;
}
.schedule .schedule-tab ul li.nav-item a.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #f18350 transparent transparent;
}
@media (max-width: 767px) {
  .schedule .schedule-tab ul li.nav-item a.active:after {
    content: none;
  }
}
.schedule .schedule-contents {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}
.schedule .schedule-contents .schedule-item ul {
  margin-bottom: 0;
}
.schedule .schedule-contents .schedule-item ul li {
  list-style: none;
}
.schedule .schedule-contents .schedule-item ul li div {
  display: inline-block;
}
.schedule .schedule-contents .schedule-item ul li .time {
  width: 20%;
}
@media (max-width: 767px) {
  .schedule .schedule-contents .schedule-item ul li .time {
    width: 20%;
  }
}
@media (max-width: 575px) {
  .schedule .schedule-contents .schedule-item ul li .time {
    width: 20%;
  }
}
.schedule .schedule-contents .schedule-item ul li .speaker {
  width: 30%;
}
@media (max-width: 991px) {
  .schedule .schedule-contents .schedule-item ul li .speaker {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .schedule .schedule-contents .schedule-item ul li .speaker {
    width: 30%;
  }
}
@media (max-width: 575px) {
  .schedule .schedule-contents .schedule-item ul li .speaker {
    width: 30%;
  }
}
@media (max-width: 575px) {
  .schedule .schedule-contents .schedule-item ul li .speaker img {
    display: none;
  }
}
.schedule .schedule-contents .schedule-item ul li .subject {
  text-align: center;
  width: 45%;
}
.schedule .schedule-contents .schedule-item li.headings {
  padding: 22px 40px;
  background: #f18350;
}
.schedule .schedule-contents .schedule-item li.headings div {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.schedule .schedule-contents .schedule-item li.chair {
  padding: 10px 40px;
  background: #eeeeee;
}
.schedule .schedule-contents .schedule-item li.chair img {
  height: 30px;
  border-radius: 100%;
}
.schedule .schedule-contents .schedule-item li.chair div {
  color: #f18350;
  font-family: "Montserrat", sans-serif;
}
.schedule .schedule-contents .schedule-item li.empty {
  padding: 22px 40px;
  background: #fff;
}
.schedule .schedule-contents .schedule-item li.empty div {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.schedule .schedule-contents .schedule-item li.schedule-details {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #e5e5e5;
}
.schedule .schedule-contents .schedule-item li.schedule-details .block {
  padding: 10px 40px;
  background: #fff;
  width: 100%;
  transition: 0.2s ease-in;
}
.schedule .schedule-contents .schedule-item li.schedule-details .block div {
  color: #222222;
  font-family: "Montserrat", sans-serif;
}
.schedule .schedule-contents .schedule-item li.schedule-details .block div i {
  font-size: 1.1875em;
  color: #c7c8c9;
}
.schedule .schedule-contents .schedule-item li.schedule-details .block div img {
  height: 30px;
  border-radius: 100%;
}
.schedule .schedule-contents .schedule-item li.schedule-details .block div span.time {
  margin-left: 5px;
}
.schedule .schedule-contents .schedule-item li.schedule-details .block div span.name {
  margin-left: 20px;
  transition: 0.2s ease-in;
}
@media (max-width: 575px) {
  .schedule .schedule-contents .schedule-item li.schedule-details .block div span.name {
    margin-left: 0;
  }
}
.schedule .schedule-contents .schedule-item li.schedule-details .block:hover {
  box-shadow: 0px 0px 30px 0px rgba(11, 29, 66, 0.15);
  transform: scale(1.01);
}
.schedule .schedule-contents .schedule-item li.schedule-details .block:hover span.name {
  color: #f18350;
}
.schedule .download-button {
  padding-top: 40px;
  margin-bottom: 30px;
}
.schedule.two .schedule-tab {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.schedule.two .schedule-tab ul li.nav-item {
  margin-right: 0;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .schedule.two .schedule-tab ul li.nav-item {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .schedule.two .schedule-tab ul li.nav-item {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
}
.schedule.two .schedule-tab ul li.nav-item a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #222222;
  font-weight: 500;
  display: block;
  border-radius: 0;
  border: 1px solid #e5e5e5;
  padding: 20px 30px;
}
.schedule.two .schedule-tab ul li.nav-item a span {
  margin-top: 2px;
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: 14px;
  color: #848484;
  font-weight: 400;
}
.schedule.two .schedule-tab ul li.nav-item a.active {
  background: #f18350;
  color: #fff;
  position: relative;
}
.schedule.two .schedule-tab ul li.nav-item a.active span {
  color: #fff;
}
.schedule.two .schedule-tab ul li.nav-item a.active:after {
  content: "";
  position: absolute;
  left: 100%;
  right: 0;
  bottom: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #f18350;
}
@media (max-width: 991px) {
  .schedule.two .schedule-tab ul li.nav-item a.active:after {
    content: none;
  }
}
.schedule.two .schedule-contents {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}
.schedule.two .schedule-contents .schedule-item ul {
  margin-bottom: 0;
}
.schedule.two .schedule-contents .schedule-item ul li {
  list-style: none;
}
.schedule.two .schedule-contents .schedule-item ul li div {
  display: inline-block;
}
.schedule.two .schedule-contents .schedule-item ul li .time {
  width: 20%;
}
@media (max-width: 767px) {
  .schedule.two .schedule-contents .schedule-item ul li .time {
    width: 37%;
  }
}
@media (max-width: 575px) {
  .schedule.two .schedule-contents .schedule-item ul li .time {
    width: 48%;
  }
}
.schedule.two .schedule-contents .schedule-item ul li .speaker {
  width: 30%;
}
@media (max-width: 991px) {
  .schedule.two .schedule-contents .schedule-item ul li .speaker {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .schedule.two .schedule-contents .schedule-item ul li .speaker {
    width: 60%;
  }
}
@media (max-width: 575px) {
  .schedule.two .schedule-contents .schedule-item ul li .speaker {
    width: 50%;
  }
}
.schedule.two .schedule-contents .schedule-item ul li .subject {
  width: 30%;
}
@media (max-width: 1200px) {
  .schedule.two .schedule-contents .schedule-item ul li .subject {
    display: none;
  }
}
.schedule.two .schedule-contents .schedule-item ul li .venue {
  width: 18.6%;
}
@media (max-width: 767px) {
  .schedule.two .schedule-contents .schedule-item ul li .venue {
    display: none;
  }
}
.schedule.two .schedule-contents .schedule-item li.headings {
  padding: 25px 0;
  background: #f18350;
}
.schedule.two .schedule-contents .schedule-item li.headings div {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.schedule.two .schedule-contents .schedule-item li.schedule-details:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.schedule.two .schedule-contents .schedule-item li.schedule-details .block {
  text-align: center;
  padding: 0;
  background: #fff;
  width: 100%;
  transition: 0.2s ease-in;
}
.schedule.two .schedule-contents .schedule-item li.schedule-details .block div {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #222222;
  font-family: "Montserrat", sans-serif;
}
.schedule.two .schedule-contents .schedule-item li.schedule-details .block div i {
  font-size: 1.1875em;
  color: #c7c8c9;
}
.schedule.two .schedule-contents .schedule-item li.schedule-details .block div img {
  height: 30px;
  border-radius: 100%;
}
.schedule.two .schedule-contents .schedule-item li.schedule-details .block div span.time {
  margin-left: 0px;
}
.schedule.two .schedule-contents .schedule-item li.schedule-details .block div span.name {
  margin-left: 0px;
  transition: 0.2s ease-in;
}
@media (max-width: 575px) {
  .schedule.two .schedule-contents .schedule-item li.schedule-details .block div span.name {
    margin-left: 0;
  }
}
.schedule.two .schedule-contents .schedule-item li.schedule-details .block div:not(:last-child) {
  border-right: 1px solid #e5e5e5;
}
.schedule.two .schedule-contents .schedule-item li.schedule-details .block:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
.schedule.two .schedule-contents .schedule-item li.schedule-details .block:hover {
  box-shadow: none;
  transform: scale(1);
}
.schedule.two .schedule-contents .schedule-item li.schedule-details .block:hover span.name {
  color: #f18350;
}

.table1 .table1-contents {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
}
.table1 .table1-contents table {
  align-self: center;
  margin-top: -40px;
  margin-bottom: -60px;
}
.table1 .table1-contents a {
  color: black;
}
.table1 .table1-contents a:hover {
  color: #f18350;
}
.table1 .table1-contents tr {
  border-bottom: 1px solid #000;
}
.table1 .table1-contents tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table1 .table1-contents th, .table1 .table1-contents td {
  padding: 5px 30px 5px 30px;
}
.table1 .table1-contents th {
  background-color: #f18350;
  color: white;
}
.table1 .points1 {
  margin-top: 50px;
  margin-bottom: -50px;
  justify-content: center;
  align-self: center;
}
.table1 .points1 h3 {
  font-size: 20px;
}

.contact-form .form-control {
  margin-bottom: 30px;
}
.contact-form button {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */
