<!--===========================
=            About            =
============================-->

	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 align-self-center">
				<div class="image-block col-12 bg-about text-center">
					<img class="img-fluid" src="images/speakers/Prof NVRK.jpg" alt="">
					<h2>Ravi Kumar NV</h2>
				</div>
				<div class="image-block col-12 bg-about text-center">
					<img class="img-fluid" src="images/speakers/motz.jpg" alt="">
					<h2>Günter Motz </h2>
				</div>
			</div>
			<div class="col-lg-8 col-md-6 align-self-center">
				<div class="content-block">
					<h2>About PDC-IT 2023</h2>
					<div class="description-one">
						<p>
							Precursor Derived Ceramics-Innovations & Translational Research (PDC-IT) is committed to setting up a forum for discussing cutting-edge research methodologies and exchanging the most recent research findings in precursor derived ceramics. Over the course of two days, eminent speakers from Germany and India will discuss about the enormous diversified applications that precursor derived ceramics bestows especially in line with the demands of energy, environment, and health care sectors. These lectures will be sandwiched between talks by the young researchers. </p>
					</div>
					<div class="description-one">
						<p>Additionally, keeping in mind the translational necessity in a predominantly science-driven field, talks from start-ups and various national and international industrial partners will be presented. To also appreciate the benefits of applying computational thermodynamics to the real-world complex scenario of polymer derived ceramics, special talks are being organized. PDC-IT will be a significant and valuable forum for encouraging cross-cultural and interdisciplinary dialogue in the fields of molecular processing, advanced polymer precursors, functional ceramics and provides a gateway to encourage translational research and entrepreneurship.</p>
					</div>
					<ul class="list-inline text-center">

						<li class="list-inline-item">
							<a href="about-us.html" class="btn btn-transparent-md">Read more</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!--====  End of About  ====-->