<section class="slider-div" id="testimonial">
	<div class="container">

			<div class="col-lg-12">
				<!-- Testimonial Slider -->
				<div class="div-slider owl-carousel owl-theme">
					<!-- Testimonial 01 -->
					@@include('blocks/casarol-item.htm',{
						"image" : "images/venue/1.jpg",
					})
					@@include('blocks/casarol-item.htm',{
						"image" : "images/venue/2.jpg",
					})
					@@include('blocks/casarol-item.htm',{
						"image" : "images/venue/3.jpg",
					})
					@@include('blocks/casarol-item.htm',{
						"image" : "images/venue/4.jpg",
					})
					@@include('blocks/casarol-item.htm',{
						"image" : "images/venue/5.jpg",
					})
				</div>

		</div>
	</div>
</section>