<section class="section testimonial" id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Testimonial Slider -->
				<div class="testimonial-slider owl-carousel owl-theme">
					<!-- Testimonial 01 -->
					@@include('blocks/speaker-item.htm',{
						"image" : "images/speakers/Prof NVRK.jpg",
					})
					@@include('blocks/speaker-item.htm',{
						"image" : "images/speakers/Prof NVRK.jpg",
						"name" : "Ravi Kumar NV",

				</div>
			</div>
		</div>
	</div>
</section>