<!--========================================
=            Navigation Section            =
=========================================-->
<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">
    <!-- logo -->
    <a class="navbar-brand" href="index.html">
      <img src="images/icon/igstc.png" eight="75px" alt="logo">
    </a>
    <a class="navbar-brand" href="index.html">
      <img src="images/icon/IITM.png"  height="75px" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home
            <span>|</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="about-us.html">About us   <i class="fa fa-angle-down"></i>
            <span>|</span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="about-us.html#Note">Welcome Message</a></li>
            <li><a class="dropdown-item" href="about-us.html#conference">About CTFM 2023</a></li>
            <li><a class="dropdown-item" href="about-us.html#organisers">Organising Committee</a></li>
            <li><a class="dropdown-item" href="about-us.html#center">Ceramic Technology Group</a></li>
            <li><a class="dropdown-item" href="about-us.html#venue">Conference Venue</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="Program.html">Program    <i class="fa fa-angle-down"></i>
            <span>|</span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Program.html">Conference Themes</a></li>
            <li><a class="dropdown-item" href="Program.html#schedule">Program Schedule</a></li>
            <li><a class="dropdown-item" href="Program.html#speaker">List of Speakers</a></li>
            <li><a class="dropdown-item" href="Program.html#social">Social Program</a></li>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="Registration.html">Registration
            <span>|</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Sponsor.html">Sponsors
            <span>|</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="Welcome.html">Welcome to Chennai   <i class="fa fa-angle-down"></i>
          
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Welcome.html#venue">Venue</a></li>
            <li><a class="dropdown-item" href="Welcome.html#travel">Travel</a></li>
            <li><a class="dropdown-item" href="Welcome.html#accomodation">Accomodation</a></li>
            <li><a class="dropdown-item" href="Welcome.html#contact">Contact us</a></li>

          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!--====  End of Navigation Section  ====-->
