<div class="col-lg-3 col-md-3 col-sm-4">
    <!-- Speaker 1 -->
    <div class="organiser-item">
        <div class="image text-center">
            <img src="@@image" alt="speaker" class="img-fluid">
            <div class="primary-overlay"></div>
            <div class="socials">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="@@info"><i class="fa fa-globe"></i></a></li>
                    
                </ul>
            </div>
        </div>
        <div class="content text-center">
            <h5><a href="@@info">@@name</a></h5>
            <h2>@@designation</h2>
            <p>@@Institute</p>
        </div>
    </div>
</div>
