<!--==============================
=            Speakers            =
===============================-->


	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section Title -->
				<div class="section-title white">
					<h3>Organisers</h3>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-2">

			</div>
			@@include('blocks/organiser-item.htm',{
				"image" : "images/speakers/Prof NVRK.jpg",
				"name" : "Ravi Kumar NV",
				"designation" : "Professor",
				"Institute" : "IIT Madras, <br>India",
				"info" : "https://nvrk.iitm.ac.in/"
			})

			@@include('blocks/organiser-item.htm',{
				"image" : "images/speakers/motz.jpg",
				"name" : "Günter Motz",
				"designation" : "Professor",
				"Institute" : "Universität Bayreuth, <br>Germany",
				"info" : "https://www.cme-keramik.uni-bayreuth.de/en/"
			})


		</div>

	</div>


<!--====  End of Speakers  ====-->