<!--==============================
=            Schedule            =
===============================-->


	<div class="container">
	
		<div class="row">
			<div class="col-12">
				<div class="schedule-tab">
					<ul class="nav nav-pills text-center">
					  <li class="nav-item">
					    <a class="nav-link active" href="#mar08" data-toggle="pill">
					    	Day-01
					    	<span>8<sup>th</sup> March 2023</span>
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#mar09" data-toggle="pill">
							Day-02
					    	<span>9<sup>th</sup> March 2023</span>
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#mar10" data-toggle="pill">
							Day-03
					    	<span>10<sup>th</sup> March 2023</span>
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#mar11" data-toggle="pill">
							Day-04
					    	<span>11<sup>th</sup> March 2023</span>
					    </a>
					  </li>

					</ul>
				</div>
				<div class="schedule-contents bg-schedule">
					<div class="tab-content" id="pills-tabContent">
					  <div class="tab-pane fade show active schedule-item" id="mar08">
					  	<!-- Headings -->
					  	<ul class="m-0 p-0">
							@@include('blocks/schedule-title.htm')
					  		<!-- Schedule Details -->
					  		@@include('blocks/schedule-chair.htm',{
								"session": "Session-1",
								"image" : "images/speakers/motz.jpg",
								"chair-person": "Guenter Motz",
								"theme" : "IGSTC Special Lectures"
							})

							<!-- CONTENT -->
							@@include('blocks/schedule-item.htm',{
								"time" : "8:30-9:00",
								"image" : "",
								"speaker" :"Workshop Registration",
								"title" : "Workshop Registration"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "9:00-9:30",
								"image" : "images/speakers/kamakoti_2.jpg",
								"speaker" :"V Kamakoti, Director, IIT Madras",
								"title" : "Inagurational of the workshop"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "9:30-10:00",
								"image" : "images/speakers/madhan.jpg",
								"speaker" :"R. Madhan, Director, IGSTC",
								"title" : "Talk about IGSTC"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "10:00-10:25",
								"image" : "images/speakers/stefan.jpg",
								"speaker" :"Stefan Schaffoener, University of Bayreuth",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "10:25-11:00",
								"image" : "",
								"speaker" :"High-Tea",
								"title" : ""
							})
					  		<!-- Schedule Details -->
					  		@@include('blocks/schedule-chair.htm',{
								"session": "Session-2",
								"image" : "images/speakers/rajendra.jpg",
								"chair-person": "Raj Bordia",
								"theme" : "PDC for Energy Applications-I"
							})

							<!-- CONTENT -->
						
							@@include('blocks/schedule-item.htm',{
								"time" : "11:00-11:25",
								"image" : "images/speakers/oliver.jpg",
								"speaker" :"Oliver Guillion, RWTH Aachen University",
								"title" : "Keynote lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "11:25-11:50",
								"image" : "images/speakers/abhishek.jpg",
								"speaker" :"Abhishek Choudhary, CMET",
								"title" : "Invited Talk"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "11:50-12:15",
								"image" : "images/speakers/maged.jpg",
								"speaker" :"Maged Bekheet, TU Berlin",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "12:15-12:40",
								"image" : "images/speakers/ulrich.jpg",
								"speaker" :"Ulrich Degenhardt, QSIL Ingenieurkeramik",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "12:40-2:00",
								"image" : "",
								"speaker" :"Lunch",
								"title" : ""
							})
					  		<!-- Schedule Details -->
					  		@@include('blocks/schedule-chair.htm',{
								"session": "Session-3",
								"image" : "images/speakers/speaker.jpg",
								"chair-person": "Shyam Rao",
								"theme" : "PDC for Thermo-Structural Applications"
							})

							<!-- CONTENT -->
						
							@@include('blocks/schedule-item.htm',{
								"time" : "2:00-2:25",
								"image" : "images/speakers/uday.jpg",
								"speaker" :"Uday Kumar, CSIR-NAL",
								"title" : "Invited Talk"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "2:25-2:50",
								"image" : "images/speakers/carolin.jpg",
								"speaker" :"Carolin Sitzmann, University of Bayreuth",
								"title" : "Invited Talk"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "2:50-3:15",
								"image" : "images/speakers/suresh.jpg",
								"speaker" :"Suresh Kumar, DMSRDE",
								"title" : "Invited Talk"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "3:15-3:40",
								"image" : "images/speakers/mandal.jpg",
								"speaker" :"Shantanu Mandal, CUMI",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "3:40-4:40",
								"image" : "",
								"speaker" :"High-Tea | Poster Presentation",
								"title" : ""
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "4:40-5:05",
								"image" : "images/speakers/emanuel.jpg",
								"speaker" :"Emanuel Ionescu, Fraunhofer",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "5:05-5:30",
								"image" : "images/speakers/sreejith.jpg",
								"speaker" :"K Sreejith, VSSC",
								"title" : "Invited Talk"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "5:30-6:30",
								"image" : "",
								"speaker" :"Cultural Program | Holi Celeberation",
								"title" : ""
							})		
							@@include('blocks/schedule-item.htm',{
								"time" : "7:00-10:00",
								"image" : "",
								"speaker" :"Cocktail Dinner, IITM-RP",
								"title" : ""
							})					  		

						</ul>
					  </div>
					  <div class="tab-pane fade schedule-item" id="mar09">
					  	<!-- Headings -->
					  	<ul class="m-0 p-0">
							@@include('blocks/schedule-title.htm')
					  		<!-- Schedule Details -->
					  		@@include('blocks/schedule-chair.htm',{
								"session": "Session-4",
								"image" : "images/speakers/stefan.jpg",
								"chair-person": "Stefan Schaffoener",
								"theme" : "PDC for Thermo-Structural Applications & Translational Research"
							})

							<!-- CONTENT -->
					
							@@include('blocks/schedule-item.htm',{
								"time" : "9:00-9:25",
								"image" : "images/speakers/renjith.jpg",
								"speaker" :"Renjith Devasia, VSSC",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "9:25-9:50",
								"image" : "images/speakers/gurlo.jpg",
								"speaker" :"Alexandar Gurlo, TU Berlin",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "9:50-10:15",
								"image" : "images/speakers/harikumar.jpg",
								"speaker" :"Hari Kumar KC, IITM",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "10:15-10:40",
								"image" : "images/speakers/gurpreet.jpg",
								"speaker" :"Gurpreet Singh, Kansas State University",
								"title" : "Online Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "10:40-11:00",
								"image" : "",
								"speaker" :"High-Tea",
								"title" : ""
							})
					  		<!-- Schedule Details -->


							<!-- CONTENT -->
						
							@@include('blocks/schedule-item.htm',{
								"time" : "11:00-11:25",
								"image" : "images/speakers/sudip.jpg",
								"speaker" :"Sudip Chakraborty, HRI",
								"title" : "Keynote lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "11:25-11:50",
								"image" : "images/speakers/paul.jpg",
								"speaker" :"Paul h.M. van Loosdrecht, University of Cologne",
								"title" : "Keynote lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "11:50-12:15",
								"image" : "images/speakers/raghu.jpg",
								"speaker" :"Raghunath Sharma, IITM",
								"title" : "Young Researcher's Talk"
							})
						
							@@include('blocks/schedule-item.htm',{
								"time" : "12:15-1:30",
								"image" : "",
								"speaker" :"Lunch",
								"title" : ""
							})
					  		<!-- Schedule Details -->
					  		@@include('blocks/schedule-chair.htm',{
								"session": "Session-5",
								"image" : "images/speakers/oliver.jpg",
								"chair-person": "Oliver Guillion",
								"theme" : "PDC for Energy Applications - II"
							})

							<!-- CONTENT -->
						
							@@include('blocks/schedule-item.htm',{
								"time" : "1:30-1:55",
								"image" : "images/speakers/sanjay.jpg",
								"speaker" :"Sanjay Mathus, University of Cologne",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "1:55-2:20",
								"image" : "images/speakers/shotaro2.jpg",
								"speaker" :"Shotaro Tada, IIT Madra",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "2:20-2:45",
								"image" : "images/speakers/sujith.jpg",
								"speaker" :"Sujit Ravindran, BITS-Pilani Hyderabad",
								"title" : "Invited Talk"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "2:45-3:10",
								"image" : "images/speakers/wil.jpg",
								"speaker" :"Michaela Wilhelm, University of Bremen",
								"title" : "Invited Talk"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "3:15-3:35",
								"image" : "",
								"speaker" :"High Tea",
								"title" : ""
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "3:35-4:30",
								"image" : "",
								"speaker" :"Panel Discussion",
								"title" : "Way ahead for PDC – commercial prospects"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "4:30",
								"image" : "",
								"speaker" :"Departure to MGM Beach Resort, ECR,Chennai",
								"title" : ""
							})
								
							@@include('blocks/schedule-item.htm',{
								"time" : "6:00-10:00",
								"image" : "",
								"speaker" :"Cocktail Dinner on the beach",
								"title" : ""
							})					  		

						</ul>
					  </div>
					  <div class="tab-pane fade schedule-item" id="mar10">
					  	<!-- Headings -->
						  <ul class="m-0 p-0">
							@@include('blocks/schedule-title.htm')
					  		<!-- Schedule Details -->
					  		@@include('blocks/schedule-chair.htm',{
								"session": "Session-6",
								"image" : "images/speakers/gopalan.jpg",
								"chair-person": "R. Gopalan",
								"theme" : "PDC for Translational Research"
							})

							<!-- CONTENT -->
							@@include('blocks/schedule-item.htm',{
								"time" : "9:00-9:25",
								"image" : "images/speakers/rajendra.jpg",
								"speaker" :"Rajendra K Bordia, Clemson University",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "9:25-9:50",
								"image" : "images/speakers/csam.jpg",
								"speaker" :"Samuel Bernard, CNRS-University of Limoges",
								"title" : "Invited Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "9:50-10:15",
								"image" : "images/speakers/ravimohan.jpg",
								"speaker" :"Ravi Mohan Prasad, IIT Ropar",
								"title" : "Invited Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "10:15-10:40",
								"image" : "images/speakers/motz.jpg",
								"speaker" :"Guenter Motz, University of Bayreuth",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "10:40-11:00",
								"image" : "",
								"speaker" :"High-Tea",
								"title" : ""
							})
					  		<!-- Schedule Details -->


							<!-- CONTENT -->
						
							@@include('blocks/schedule-item.htm',{
								"time" : "11:00-11:25",
								"image" : "images/speakers/mich.jpg",
								"speaker" :"Michael Scheffler, Otto-von-Guericke University",
								"title" : "Keynote lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "11:25-11:50",
								"image" : "images/speakers/kousik.jpg",
								"speaker" :"Kousik Papakollu, IIT Madras",
								"title" : "Young Researcher's Talk"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "11:50-12:15",
								"image" : "images/speakers/speaker.jpg",
								"speaker" :"Juergen Mertes, Merck",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "12:15-12:40",
								"image" : "images/speakers/ganesh.jpg",
								"speaker" :"Ganesh Babu, CeraTattva",
								"title" : "The inception of CeraTattva InnoTech - India's First Start-up in PDC"
							})
						
							@@include('blocks/schedule-item.htm',{
								"time" : "12:40-2:00",
								"image" : "",
								"speaker" :"Lunch",
								"title" : ""
							})
					  		<!-- Schedule Details -->
					  		@@include('blocks/schedule-chair.htm',{
								"session": "Session-7",
								"image" : "images/speakers/csam.jpg",
								"chair-person": "Samuel Bernard",
								"theme" : "Ceramic Technologies for Futuristic Mobility"
							})

							

							<!-- CONTENT -->
						
							@@include('blocks/schedule-item.htm',{
								"time" : "2:00-2:25",
								"image" : "images/speakers/uday.jpg",
								"speaker" :"Ulf Betke, Otto-von-Guericke University",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "2:25-2:50",
								"image" : "images/speakers/manoj.jpg",
								"speaker" :"BV Manoj Kumar, IIT Roorkee",
								"title" : "Invited Talk"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "2:50-3:15",
								"image" : "images/speakers/thomas.jpg",
								"speaker" :"Thomas Fischer, University of Cologne",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "3:15-3:40",
								"image" : "",
								"speaker" :"High-Tea ",
								"title" : ""
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "3:40-4:05",
								"image" : "images/speakers/devinder2.jpg",
								"speaker" :"Devinder Yadav, IIT Patna",
								"title" : "Invited Talk"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "4:05-4:30",
								"image" : "images/speakers/madhu.jpg",
								"speaker" :"C.D. Madhusoodana, BHEL",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "4:30-4:55",
								"image" : "images/speakers/yuji.jpg",
								"speaker" :"Yuji Iwamoto, Nagoya Institute of Technology",
								"title" : "Keynote Lecture"
							})
							@@include('blocks/schedule-item.htm',{
								"time" : "4:55-5:30",
								"image" : "",
								"speaker" :"IGSTC - Posters Award Ceremony |<br> Conclusion of IGSTC workshop",
								"title" : ""
							})
										  		

						</ul>
					  </div>
					  <div class="tab-pane fade schedule-item" id="mar11">
						<!-- Headings -->
						<ul class="m-0 p-0">
						  @@include('blocks/schedule-title.htm')
							<!-- Schedule Details -->
							@@include('blocks/schedule-chair.htm',{
							  "session": "Session-8",
							  "image" : "images/speakers/sanjay.jpg",
							  "chair-person": "Sanjay Mathur",
							  "theme" : "Ceramic Technologies for Futuristic Mobility - II"
						  })

						  <!-- CONTENT -->
						  @@include('blocks/schedule-item.htm',{
							  "time" : "9:00-9:25",
							  "image" : "images/speakers/gopalan.jpg",
							  "speaker" :"R. Gopalan",
							  "title" : "Keynote Lecture"
						  })
						  @@include('blocks/schedule-item.htm',{
							  "time" : "9:25-9:50",
							  "image" : "images/speakers/kavitha.jpg",
							  "speaker" :"Kavitha Arunachalam, IIT Madras",
							  "title" : "Invited Lecture"
						  })
						  @@include('blocks/schedule-item.htm',{
							  "time" : "9:50-10:15",
							  "image" : "images/speakers/arock.jpg",
							  "speaker" :"A. Arockiarajan, IIT Madras",
							  "title" : "Invited Lecture"
						  })
						  @@include('blocks/schedule-item.htm',{
							  "time" : "10:15-10:40",
							  "image" : "images/speakers/lokesh.jpg",
							  "speaker" :"Lokesh Vendra, IIT Madras",
							  "title" : "Young Researcher's Talk"
						  })
						  @@include('blocks/schedule-item.htm',{
							  "time" : "10:40-11:00",
							  "image" : "",
							  "speaker" :"High-Tea",
							  "title" : ""
						  })
							<!-- Schedule Details -->


						  <!-- CONTENT -->
					  
						  @@include('blocks/schedule-item.htm',{
							  "time" : "11:00-11:25",
							  "image" : "images/speakers/alankar.jpg",
							  "speaker" :"Alankar Alankar, IIT Bombay",
							  "title" : "Invited Talk"
						  })
						  @@include('blocks/schedule-item.htm',{
							  "time" : "11:25-11:45",
							  "image" : "images/speakers/tisita.jpg",
							  "speaker" :"Tisita Das, HRI",
							  "title" : "Invited Talk"
						  })
						  @@include('blocks/schedule-item.htm',{
							  "time" : "11:45-12:10",
							  "image" : "images/speakers/parasuraman.jpg",
							  "speaker" :"Parasuraman Swaminathan, IIT Madras",
							  "title" : "Keynote Lecture"
						  })
						  @@include('blocks/schedule-item.htm',{
							  "time" : "12:10-12:35",
							  "image" : "images/speakers/lakshman.jpg",
							  "speaker" :"Lakshman Neelakantan, IIT Madras",
							  "title" : "Invited Talk"
						  })
						  @@include('blocks/schedule-item.htm',{
							"time" : "12:35-1:00",
							"image" : "images/speakers/manas.jpg",
							"speaker" :"Manas Mukherjee, IIT Madras",
							"title" : "Invited Talk"
						})
					  
						  @@include('blocks/schedule-item.htm',{
							  "time" : "1:00-2:30",
							  "image" : "",
							  "speaker" :"Lunch",
							  "title" : ""
						  })
							
							<!-- Schedule Details -->
							@@include('blocks/schedule-chair.htm',{
							  "session": "2:30-3:30",
							  "image" : "",
							  "chair-person": "Sanjay Mathur, University of Cologne<br> Lalith Kumar Sharma, Indian Ceramic Society<br> Rajendra K. Bordia, Clemson University <br> Ravi Kumar, IIT Madras <br> Guenter Motz, University of Bayreuth",
							  "theme" : "Brainstorming Session on Ceramic Research in India and co-operation with Europe and USA:"
						  })	
						  

						  <!-- CONTENT -->
					  
						
												

					  </ul>
					</div>
					</div>
				</div>
				@@if( button === true ){
					<div class="download-button text-center">
						<a href="#" class="btn btn-main-md">Download Schedule</a>
					</div>
				}
			</div>
		</div>
	</div>

<!--====  End of Schedule  ====-->