<!--==============================
=            Speakers            =
===============================-->


	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section Title -->
				<div class="section-title white">
					<h3>Speakers</h3>
					</div>
			</div>
		</div>
		<div class="row">
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/abhishek.jpg",
                "name" : "A Chowdhary",
                "designation" : "Scientist",
                "Institute" : "CMET, <br>India",
                "info" : "https://scholar.google.co.in/citations?user=Z7262zoAAAAJ&hl=en"
			})
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/gurlo.jpg",
                "name" : "Aleksander Gurlo",
                "designation" : "Professor",
                "Institute" : "TU Berlin, <br>Germany",
                "info" : "https://gepris.dfg.de/gepris/person/26928434?context=person&task=showDetail&id=26928434&"
			})
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/carolin.jpg",
                "name" : "Carolin Sitzmann",
                "designation" : "Senior Scientist",
                "Institute" : "University of Bayreuth, Germany",
                "info" : "https://www.cme-keramik.uni-bayreuth.de/en/team/Sitzmann/index.php"
			})	
<!--             @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/speaker.jpg",
                "name" : "Deepa Devapal",
                "designation" : "LWCS, CMCS/CMPD",
                "Institute" : "VSSC, Kerala, <br>India",
                "info" : "https://www.researchgate.net/profile/Deepa-Devapal-2"
                https://iitr.ac.in/~MT/manojfmt
			}) -->
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/devinder2.jpg",
                "name" : "Devinder Yadav",
                "designation" : "Professor",
                "Institute" : "IIT Patna <br> India",
                "info" : "https://www.researchgate.net/profile/Devinder-Yadav-3"
			})	
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/emanuel.jpg",
                "name" : "Emanuel Ionescu",
                "designation" : "Professor",
                "Institute" : "Fraunhofer IWKS, Germany",
                "info" : "https://de.linkedin.com/in/pd-dr-emanuel-ionescu-6692b156"
			})	
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/ganesh.jpg",
                "name" : "Ganesh Babu T",
                "designation" : "Founder & CEO",
                "Institute" : "CeraTattva InnoTech, India",
                "info" : "https://in.linkedin.com/in/dr-ganeshbabut"
			})	
@@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/motz.jpg",
                "name" : "Günter Motz ",
                "designation" : "Professor",
                "Institute" : "University of Bayreuth, Germany",
                "info" : "https://www.cme-keramik.uni-bayreuth.de/en/team/Motz/index.php"
			})	
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/harikumar.jpg",
                "name" : "Hari Kumar KC",
                "designation" : "Professor",
                "Institute" : "IIT Madras, <br>India",
                "info" : "https://iitm.irins.org/profile/50877"
			})	
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/sreejith.jpg",
                "name" : " K Sreejith",
                "designation" : "Head, CMCS/CMPD",
                "Institute" : "VSSC, Kerala, <br>India",
                "info" : "https://in.linkedin.com/in/sreejith-k-7586651b7?trk=public_profile_browsemap"
			})
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/maged.jpg",
                "name" : "Maged Bekheet",
                "designation" : "Professor",
                "Institute" : "Technische Universität Berlin, Germany",
                "info" : "https://de.linkedin.com/in/maged-bekheet-529a8916"
			})	
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/manoj.jpg",
                "name" : "BV Manoj Kumar",
                "designation" : "Professor",
                "Institute" : "IIT Roorkee <br> India",
                "info" : "https://iitr.ac.in/~MT/manojfmt"
			})	
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/mich.jpg",
                "name" : "Michael Scheffler",
                "designation" : "Professor",
                "Institute" : "Ottovon-Guericke University Magdeburg, Germany",
                "info" : "https://www.ovgu.de/scheffler-path-2,9459,14965,15752,16336.html"				
			})
@@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/wil.jpg",
                "name" : "Michaela Wilhelm",
                "designation" : "Head of Advanced Ceramics Group",
                "Institute" : "University of Bremen, Germany",
                "info" : "https://www.ceramics.uni-bremen.de/Group/Wilhelm.php"
			})
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/oliver.jpg",
                "name" : "Olivier Guillon",
                "designation" : "Professor",
                "Institute" : "RWTH Aachen University, Germany",
                "info" : "https://scholar.google.de/citations?user=UrFPPzoAAAAJ&hl=de"
			})


            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/rajendra.jpg",
                "name" : "Rajendra K. Bordia",
                "designation" : "Professor",
                "Institute" : "Clemson University, USA",
                "info" : "https://www.clemson.edu/cecas/departments/mse/people/faculty/bordia.html"
			})	

			@@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/Prof NVRK.jpg",
                "name" : "Ravi Kumar NV",
                "designation" : "Professor",
                "Institute" : "IIT Madras, <br>India",
                "info" : "https://nvrk.iitm.ac.in/"
			})
				

	
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/ravimohan.jpg",
                "name" : "Ravi Prasad",
                "designation" : "Professor",
                "Institute" : "IIT Ropar, <br>India",
                "info" : "https://www.iitrpr.ac.in/smmee/ravimohanprasad"
			})	
@@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/renjith.jpg",
                "name" : "Renjith Devasia",
                "designation" : "Scientist SG,",
                "Institute" : "VSSC, Kerala, <br>India",
                "info" : "https://www.researchgate.net/profile/Renjith-Devasia"
			})	
 <!--            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/ric.jpg",
                "name" : "Ricardo Machado",
                "designation" : "Professor",
                "Institute" : "Federal University of Santa Catarina, Brazil",
                "info" : "https://www.researchgate.net/profile/Ricardo-Machado-14"
			})
 -->
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/stefan.jpg",
                "name" : "S Schaffoener",
                "designation" : "Professor",
                "Institute" : "University of Bayreuth, Germany",
                "info" : "https://scholar.google.de/citations?user=kKz9jmoAAAAJ&hl=de"
			})
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/csam.jpg",
                "name" : "Samuel Bernard",
                "designation" : "Professor",
                "Institute" : "Institute of Research on ceramics, France",
                "info" : "https://scholar.google.fr/citations?user=OPDZuMIAAAAJ&hl=fr"
			})
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/sanjay.jpg",
                "name" : "Sanjay Mathur",
                "designation" : "Professor",
                "Institute" : "University of Cologne, Germany",
                "info" : "https://mathur.uni-koeln.de/team/sanjay-mathur"
			})	
@@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/mandal.jpg",
                "name" : "Santanu Mandal",
                "designation" : "Head – R&D,",
                "Institute" : "VSSC, Kerala, <br>India",
                "info" : "#"
			})	
            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/shotaro2.jpg",
                "name" : "Shotaro Tada",
                "designation" : "Professor",
                "Institute" : "IIT Madras <br>India",
                "info" : "https://www.researchgate.net/profile/Shotaro-Tada-2"
			})

 @@include('blocks/speaker-item.htm',{
    "image" : "images/speakers/sudip.jpg",
    "name" : "Sudip Chakraborty",
    "designation" : "Reader F",
    "Institute" : "HRI Allahabad<br>India",
    "info" : "https://sudiphys.wixsite.com/ceslab-sudip"
})
@@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/sujith.jpg",
                "name" : "Sujith Ravindran",
                "designation" : "Professor",
                "Institute" : "BITS, Pilani, <br>India",
                "info" : "https://scholar.google.co.in/citations?user=1-P3jIcAAAAJ&hl=en"
			})	

            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/suresh.jpg",
                "name" : "Suresh Kumar",
                "designation" : "Scientist F",
                "Institute" : "DMSRDE, Kanpur, <br>India",
                "info" : "https://in.linkedin.com/in/suresh-kumar-b87a8a118"
			})


@@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/uday.jpg",
                "name" : "Uday Kumar",
                "designation" : "Scientist",
                "Institute" : "CSIR-NAL, Bangalore, India",
                "info" : "https://in.linkedin.com/in/udayakumar-andi-bb899a22"
			})	


@@include('blocks/speaker-item.htm',{
    "image" : "images/speakers/ulrich.jpg",
    "name" : "Ulrich Degenhardt",
    "designation" : "Senior Scientist",
    "Institute" : "QSIL Ingenieurkeramik GmbH, Germany",
    "info" : "https://www.xing.com/profile/Ulrich_Degenhardt"
})
<!--             @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/speaker.jpg",
                "name" : "Vipin Vijay",
                "designation" : "Scientist D,",
                "Institute" : "VSSC, Kerala, <br>India",
                "info" : "https://scholar.google.co.in/citations?user=eTM_KfQAAAAJ&hl=en"
			}) -->




<!-- 
			<div class="col-lg-5 col-md-4 col-sm-4">

			</div>	 -->

            @@include('blocks/speaker-item.htm',{
                "image" : "images/speakers/yuji.jpg",
                "name" : "Yuji Iwamoto",
                "designation" : "Professor",
                "Institute" : "Nagoya Institute of Technology, Japan",
                "info" : "https://scholar.google.com/citations?user=-jgFiGUAAAAJ&hl=ja"
			})	







		</div>
	</div>


<!--====  End of Speakers  ====-->