<!--==============================
=            Speakers            =
===============================-->


	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section Title -->
				<div class="section-title white">
					<h3>Speakers</h3>
					</div>
			</div>
		</div>
		<div class="row">
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/Prof NVRK.jpg",
				"name" : "Ravi Kumar NV",
				"designation" : "Professor",
				"Institute" : "IIT Madras, India",
				"info" : "https://nvrk.iitm.ac.in/"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/motz.jpg",
				"name" : "Gunter Motz",
				"designation" : "Professor",
				"Institute" : "Uni B, Germany",
				"info" : "https://nvrk.iitm.ac.in/"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"image" : "images/speakers/speaker.jpg",
				"name" : "speaker",
				"designation" : "Professor",
				"Institute" : "India",
				"info" : "#"
			})



		</div>
	</div>


<!--====  End of Speakers  ====-->