<!--==============================
=            Sponsors            =
===============================-->

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Our Sponsors</h3>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<!-- Title -->
				<div class="sponsor-title text-center">
					<h5>Main Sponsor</h5>
				</div>
				<div class="block text-center">
					<!-- Sponsors image list -->
					<ul class="list-inline sponsors-list">
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/icon/iitm3.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/icon/ctfm.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/icon/igstc.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>


					</ul>
				</div>
				<!-- Title -->
	
				<!-- <div class="sponsor-btn text-center">
					<a href="Sponsor.html" class="btn btn-main-md">Become a sponsor</a>
				</div> -->
			</div>
			<div class="col-12">
				<!-- Title -->
				<div class="sponsor-title text-center">
					<h5>Gold Sponsor</h5>
				</div>
	
				<div class="block text-center">
					<!-- Sponsors image list -->
					<ul class="list-inline sponsors-list">
						<li class="list-inline-item">
							<div class="image-block2 text-center">
								<a href="#">
									<img src="images/icon/cumi.jpg" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>


					</ul>
				</div>
				<!-- Title -->
	
				<!-- <div class="sponsor-btn text-center">
					<a href="Sponsor.html" class="btn btn-main-md">Become a sponsor</a>
				</div> -->
			</div>
			<div class="col-12">
				<!-- Title -->
				<div class="sponsor-title text-center">
					<h5>Co-Sponsor</h5>
				</div>
	
				<div class="block text-center">
					<!-- Sponsors image list -->
					<ul class="list-inline sponsors-list">
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/icon/bruker.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="images/icon/netzsch.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>

					</ul>
				</div>
				<!-- Title -->
	
				<!-- <div class="sponsor-btn text-center">
					<a href="Sponsor.html" class="btn btn-main-md">Become a sponsor</a>
				</div> -->
			</div>
		</div>
	</div>


<!--====  End of Sponsors  ====-->