.about{
	padding: 120px 0;
}



.organiser{
	position: relative;
	&.white{
		.speaker-item{
			background: $gray;
			border: 1px solid $border-color;
			&:hover{
				@extend .shadow;
			}
		}	
	}
	.organiser-item{
		background: $gray;
		padding: 7px;
		margin-bottom: 30px;
		.image{
			margin-bottom: 5px;
			position: relative;
			overflow: hidden;
			img{
				@include mobile {
					width: 100% !important;
				}
			}
			.primary-overlay{
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background: $primary-color;
				opacity: .85;
				transition: .3s ease;
			}
			.socials{
				position: absolute;
				top: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				transition: .4s ease;
				ul{
					width: 50%;
					@include large-desktop{
						width: 100%;
						text-align: center;
						padding: 0 20px;
					}
					// @include desktop {
					// 	width: 61%;
					// }
					// @include mobile {
					// 	width: 31%;
					// }
					li{
						&.list-inline-item:not(:last-child){
							margin-right: 7px;
							margin-bottom: 10px;
							@include large-desktop{
								margin-right: 5px;
								margin-left: 5px;
							}
						}
						&.list-inline-item:last-child{
							@include large-desktop{
								margin-right: 5px;
								margin-left: 5px;
							}
						}
						a{
							display: block;
							height: 50px;
							width: 50px;
							text-align: center;
							border: 1px solid $light;
							i{
								font-size: .9375rem;
								color: $light;
								line-height: 50px;
							}
							&:hover{
								background: $light;
								i{
									color: $black;
								}
							}
						}
					}
				}
			}
			&:hover{
				.primary-overlay{
					top: 0;
				}
				.socials{
					top: 0;
				}
			}
		}
		.content{
			h5{
				a{
					font-size: 15px;
					color: $black;
					font-weight: 600;
					line-height: 15px;
					
					&:hover{
						color: $primary-color;
					}
				}
				margin-bottom: 0px;
			}
			h2{
				font-size: 0.875rem; //14px
				line-height: 16px;
				margin-bottom: 2px;
			}
			p{
				font-size: 0.875rem; //14px
				line-height: 16px;
				margin-bottom: 0px;
			}
		}
	}
}
.schedule{
	.schedule-tab{
		display: flex;
		justify-content: center;
		margin-top: 14px;
		ul{
			li.nav-item{
				margin-right: 10px;
				@include tablet {
					width: 100%;
					margin-bottom: 10px;
				}
				a{
					font-family: $secondary-font;
					text-transform: uppercase;
					font-size: 1.5rem; //24px
					color: $primary-color;
					font-weight: 500;
					display: block;
					border-radius: 0;
					border: 1px solid $border-color;
					padding: 20px 30px;
					span{
						margin-top: 2px;
						font-family: $primary-font;
						display: block;
						font-size: 1rem;
						color: $text-color;
						font-weight: 400;
					}
					&.active{
						background: $primary-color;
						color: $light;
						position: relative;
						span{
							color: $light;
						}
						&:after{
							content: '';
							position: absolute;
							left: 0;
							bottom: -20px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 20px 20px 0;
							border-color: transparent $primary-color transparent transparent;
							@include tablet {
								content: none;
							}
						}
					}
				}
			}
		}
	}
	.schedule-contents{
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 30px;
		.schedule-item{
			ul{
				li{
					list-style: none;
					div{
						display: inline-block;
					}
					.time{
						width: 20%;
						@include tablet {
							width: 20%;
						}
						@include mobile {
							width: 20%;
						}
					}
					.speaker{
						width: 30%;
						@include desktop-sm {
							width: 30%;
						}
						@include tablet {
							width: 30%;
						}
						@include mobile {
							width: 30%;
						}
						img {
							@include mobile {
								display: none;
							}
						}
					}
					.subject{
						text-align: center;
						width: 45%;
	
					}

				}
				margin-bottom: 0;
			}
			li.headings{
				padding: 22px 40px;
				background: $primary-color;
				div{
					color: $light;
					text-transform: uppercase;
					font-family: $secondary-font;
				}
			}
			li.chair{
				padding: 10px 40px;
				background: $gray;
				img{
					height: 30px;
					border-radius: 100%;
				}
				div{
					color: $primary-color;
					font-family: $secondary-font;
					
				}
			}

			li.empty{
				padding: 22px 40px;
				background: $light;
				div{
					color: $light;
					text-transform: uppercase;
					font-family: $secondary-font;
				}
			}
			li.schedule-details{
				border-bottom: 1px solid;
				border-left: 1px solid;
				border-right: 1px solid;
				border-color: $border-color; 
				.block{
					padding: 10px 40px;
					background: $light;
					width: 100%;
					transition: .2s ease-in;
					div{
						color: $black;
						font-family: $secondary-font;
						i{
							font-size: 1.1875em;
							color: #c7c8c9;
						}
						img{
							height: 30px;
							border-radius: 100%;
						}
						span.time{
							margin-left: 5px;
						}
						span.name{
							margin-left: 20px;
							transition: .2s ease-in;
							@include mobile {
								margin-left: 0;
							}
						}
					}
					&:hover{
						box-shadow: 0px 0px 30px 0px rgba(11, 29, 66, 0.15);
						transform: scale(1.01);
						span.name{
							color: $primary-color;
						}
					}
				}
			}
		}
	}
	.download-button{
		padding-top: 40px;
		margin-bottom: 30px;
	}
	&.two{
		.schedule-tab{
			display: flex;
			justify-content: center;
			margin-top: 30px;
			ul{
				li.nav-item{
					margin-right: 0;
					margin-bottom: 10px;
					@include desktop-sm {
						margin-right: 10px;
					}
					@include tablet {
						width: 100%;
						margin-bottom: 10px;
						margin-right: 0;
					}
					a{
						font-family: $secondary-font;
						text-transform: uppercase;
						font-size: 20px; //24px
						color: $black;
						font-weight: 500;
						display: block;
						border-radius: 0;
						border: 1px solid $border-color;
						padding: 20px 30px;
						span{
							margin-top: 2px;
							font-family: $primary-font;
							display: block;
							font-size: 14px;
							color: $text-color;
							font-weight: 400;
						}
						&.active{
							background: $primary-color;
							color: $light;
							position: relative;
							span{
								color: $light;
							}
							&:after{
								content: '';
								position: absolute;
								left: 100%;
								right:0;
								bottom: 0;
								top: 50%;
								transform: translate(0, -50%);
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 10px 0 10px 10px;
								border-color: transparent transparent transparent $primary-color;
								@include desktop-sm {
									content: none;
								}
							}
						}
					}
				}
			}
		}
		.schedule-contents{
			margin-top: 30px;
			margin-bottom: 30px;
			padding: 0;
			@extend .shadow;
			.schedule-item{
				ul{
					li{
						list-style: none;
						div{
							display: inline-block;
						}
						.time{
							width: 20%;
							@include tablet {
								width: 37%;
							}
							@include mobile {
								width: 48%;
							}
						}
						.speaker{
							width: 30%;
							@include desktop-sm {
								width: 50%;
							}
							@include tablet {
								width: 60%;
							}
							@include mobile {
								width: 50%;
							}
						}
						.subject{
							width: 30%;
							@include large-desktop {
								display: none;
							}
						}
						.venue{
							width: 18.6%;
							@include tablet {
								display: none;
							}
						}
					}
					margin-bottom: 0;
				}
				li.headings{
					padding: 25px 0;
					background: $primary-color;
					div{
						color: $light;
						text-transform: uppercase;
						font-family: $secondary-font;
					}
				}
				li.schedule-details{
					&:not(:last-child){
						border-bottom: 1px solid $border-color;
					}
					.block{
						text-align: center;
						padding: 0;
						background: $light;
						width: 100%;
						transition: .2s ease-in;
						div{
							padding-top: 25px;
							padding-bottom: 25px;
							color: $black;
							font-family: $secondary-font;
							i{
								font-size: 1.1875em;
								color: #c7c8c9;
							}
							img{
								height: 30px;
								border-radius: 100%;
							}
							span.time{
								margin-left: 0px;
							}
							span.name{
								margin-left: 0px;
								transition: .2s ease-in;
								@include mobile {
									margin-left: 0;
								}
							}
							&:not(:last-child){
								border-right: 1px solid $border-color;
							}
						}
						&:not(:last-child){
							border-bottom: 1px solid $border-color;
						}
						&:hover{
							box-shadow: none;
							transform: scale(1);
							span.name{
								color: $primary-color;
							}
						}
					}
				}
			}
		}
	}
}
