// Banner Styles
.banner{
	padding: 200px 0 50px;
	position: relative;

	.block{
		position: relative;
	

		h1{
			// text-transform: uppercase;
		    font-size: $LARGE;
			color: $gray;
			padding: 10px 20px 10px 20px;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 15px;
			font-weight: 800;
			//font-style: italic;
			margin-bottom: 15px;
			line-height: $LARGE;
			// @include tablet {
			// 	font-size: 3.2rem;
			// }
			// @include mobile-xs{
			// 	font-size: 2.3rem;
			// }
		}
		h2{
			// text-transform: uppercase;
		    font-size: $large;
			color: $gray;
			padding: 5px 20px 5px 20px;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 15px;
			font-weight: 800;
			//font-style: italic;
			// @include tablet {
			// 	font-size: 3.2rem;
			// }
			// @include mobile-xs{
			// 	font-size: 2.3rem;
			// }
		}
		
		h3{
			color: $primary-color;
			font-size: $huge;
			padding: 5px 20px 5px 20px;
			font-weight: 800;
			margin-bottom: 50px;
			text-shadow: 3.5px 6.062px 2px rgba(0, 0, 0, 0.3);
		}
		h4{
			text-align: center;
			padding: 10px 5px 10px 5px;
			// text-transform: uppercase;
		    font-size: $large;
			background-color: $gray;
			color: $primary-color;
			border-radius: 10px;
			font-weight: 600;
	        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
			//font-style: italic;
			// @include tablet {
			// 	font-size: 3.2rem;
			// }
			// @include mobile-xs{
			// 	font-size: 2.3rem;
			// }
		}
	}
}

.about{ 
	.image-block{
		padding: 30px;
		img{
			height: 175px;
			border-radius: 100%;
			box-shadow: 0px 0px 59px 0px rgba(11, 29, 66, 0.15);
		}
		h2{
			color: #242424;
			margin-top: 5px;
			font-size: 20px;
		}
		@include tablet {
			margin-bottom: 30px;
			text-align: center;
		}

	}
	.content-block{
		margin-left: 15px;
		@include tablet {
			text-align: center;
		}
		h2{
			&:after{
				content: "";
				width: 60px;
				height: 3px;
				background: $primary-color;
				display: block;
				margin-top: 10px;
				@include tablet {
					margin: auto;
				}
			}
			margin-bottom: 35px;
		}
		.description-one{
			p{
				color: $black;
				font-size: 1.0625rem;
				text-align: justify;
			}
			margin-bottom: 20px;
		}
		.description-two{
			p{
				font-size: 0.9375em;
				text-align: justify;
			}
			margin-bottom: 10px;
		}

	}
}




.speakers{
	position: relative;
	&.white{
		.speaker-item{
			background: $gray;
			border: 1px solid $border-color;
			&:hover{
				@extend .shadow;
			}
		}	
	}
	.speaker-item{
		background: $gray;
		padding: 7px;
		margin-bottom: 30px;
		.image{
			margin-bottom: 5px;
			position: relative;
			overflow: hidden;
			img{
				@include mobile {
					width: 100% !important;
				}
			}
			.primary-overlay{
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background: $primary-color;
				opacity: .85;
				transition: .3s ease;
			}
			.socials{
				position: absolute;
				top: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				transition: .4s ease;
				ul{
					width: 50%;
					@include large-desktop{
						width: 100%;
						text-align: center;
						padding: 0 20px;
					}
					// @include desktop {
					// 	width: 61%;
					// }
					// @include mobile {
					// 	width: 31%;
					// }
					li{
						&.list-inline-item:not(:last-child){
							margin-right: 7px;
							margin-bottom: 10px;
							@include large-desktop{
								margin-right: 5px;
								margin-left: 5px;
							}
						}
						&.list-inline-item:last-child{
							@include large-desktop{
								margin-right: 5px;
								margin-left: 5px;
							}
						}
						a{
							display: block;
							height: 50px;
							width: 50px;
							text-align: center;
							border: 1px solid $light;
							i{
								font-size: .9375rem;
								color: $light;
								line-height: 50px;
							}
							&:hover{
								background: $light;
								i{
									color: $black;
								}
							}
						}
					}
				}
			}
			&:hover{
				.primary-overlay{
					top: 0;
				}
				.socials{
					top: 0;
				}
			}
		}
		.content{
			h5{
				a{
					font-size: 15px;
					color: $black;
					font-weight: 600;
					line-height: 15px;
					
					&:hover{
						color: $primary-color;
					}
				}
				margin-bottom: 0px;
			}
			h2{
				font-size: 0.875rem; //14px
				line-height: 16px;
				margin-bottom: 2px;
			}
			p{
				font-size: 0.875rem; //14px
				line-height: 16px;
				margin-bottom: 0px;
			}
		}
	}
}

.countdown{

	h2{
		padding: 25px;
		margin-bottom: -50px;
		color: $light;
	}
.timer{
	.syotimer-cell {
		margin-top: 50px;
		margin-right: 25px;
		margin-bottom: 33px;
		display:inline-block;
		@include mobile {
			margin-right: 10px;
			margin-bottom: 20px;
		}
		.syotimer-cell__value {
			min-width: 80px;
			font-family: $secondary-font;
			font-size: 35px;
			line-height: 77px;
			text-align: center;
			position: relative;
			font-weight: bold;
			text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
			color: $light;
			border: 2px solid $primary-color;
			margin-bottom: 8px;
			border-radius: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			box-shadow: 3.5px 6.062px 0px 0px rgba(0, 0, 0, 0.1);
			@include mobile {
				font-size: 30px;
			}
			@include mobile-xs{
				min-width: 65px;
				line-height: 61px;
				font-size: 25px;
			}
		}
		.syotimer-cell__unit {
			text-align: center;
			font-size: 1.1rem;
	//	text-transform: lowercase;
			font-weight:normal;
			border-radius: 10px;
			padding: 2px 5px 2px 5px;
			background-color: rgba(0, 0, 0, 0.5);
			color: $light;
			font-weight: 500;
			font-family: $secondary-font;
		}
	  }
}
}

.sponsors{
	position: relative;
	.sponsor-title{
		margin-top: 5px;
		h5{
			color: $primary-color;
		}
		margin-bottom: 5px;
		
	}
	.block{
		.list-inline-item:not(:last-child){
			margin-right: 15px;
			@include desktop-sm{
				margin-right: 7px;
				margin-left: 7px;
			}
		}
		.list-inline-item:last-child{
			@include desktop-sm{
				margin-right: 7px;
				margin-left: 7px;
			}
		}
		.image-block{
			padding: 10px 0px 10px 0px;
			width: auto;
			cursor: pointer;
			transition: all .3s ease;
			background-color: rgba(0, 0, 0, 0.1);
			
			img{
				padding: 0px 10px 0px 10px;
				height: 75px;
			}

			margin-bottom: 10px;
		
		}

		.image-block2{
			padding: 10px 0px 10px 0px;
			width: auto;
			cursor: pointer;
			transition: all .3s ease;
			background-color: rgba(0, 0, 0, 0.1);
			
			img{
				padding: 0px 10px 0px 10px;
				height: 100px;
			}

			margin-bottom: 10px;
		
		}
		margin-bottom: 40px;
	}
	.sponsor-btn{
		margin-top: 10px;
		margin-bottom: 30px;
	}
}

// Google map
.map{
	position: relative;
	#map{
		height:480px;
		color: white;
	}
	.address-block{
		position: absolute;
		padding: 45px 50px 50px 50px;
		top: 80px;
		left: 10%;
		@include mobile {
			display: none;
		}
		background: $primary-color;
		h4,li{
			color: $light;
			margin-bottom: 20px;
		}
		h4{
			font-size: 1.5rem;
			font-weight: 400;
		}
		ul.address-list{
			li{
				list-style: none;
				i{
					font-size: 1.125rem;
				}
				span{
					margin-left: 15px;
				}
				margin-bottom: 10px;
			}
		}
		a{
			margin-top: 35px;
		}
	}
	&.new{
		overflow: hidden;
		#map{
			height: 640px;
		}
		.address-block{
			// right: 10%;
			left: 60%;
			@include desktop-sm{
				left: 52%;
			}
			@include tablet{
				left: 5%;
			}
		}
		.register{
			width: 50%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			@include tablet {
				width: 100%;
				position: relative;
			}
			.block{
				padding: 130px 10%;
				.title{
					position: relative;
					margin-bottom: 65px;
					h3{
						color: $light;
						font-weight: 400;
						
					}
					p{
						color: $light;
					}
				}
				.form-control,button{
					margin-bottom: 40px;
				}
			}
		}
	}
}


