.table1{

	.table1-contents{
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 30px;
		tr{
			border-bottom: 1px solid #000;
			hover {background-color: coral;}
		}
		th,td{
			padding: 5px;
			
		}
		

	}
}