.footer-main{
	background: #272735;
	padding: 45px 0;
	@include tablet {
		padding: 50px 0;
	}
	.bl{
		img{
			margin-bottom: 60px;
		}
	}

		.footer1{
	
			h1{
				color: $light;
				font-size: $medium;
			}
			p{
				color: $light;
				font-size: 15px;
				line-height: 22px;
			}
			a{
				color: $primary-color;
				&:hover{color: $gray}
			}
		}
	
		.footer2{
			text-align: right;
			h1{
				color: $light;
				font-size: $medium;
			}
			p{
				color: $light;
				font-size: 15px;
				line-height: 22px;
			}
			a{
				color: $primary-color;
				&:hover{color: $gray}
			}
		}




}

.subfooter{
	background: #2a2a37;
	padding: 18px 0;
	.copyright-text{
		p{
			font-family: $secondary-font;
			a{
				color: $primary-color;
			}
		}
		@include tablet {
			text-align: center;
		}
	}
	.to-top{
		display: block;
		height: 45px;
		width: 45px;
		text-align: center;
		background: $primary-color;
		float: right;
		i{
			font-size: 1.5rem;
			color: $light;
			line-height: 45px;
		}
		@include tablet {
			float: none;
			margin: auto;
			margin-top: 30px;
		}
	}
}
