.slider-div {
	.div-slider {
		.item {

			.block {
				padding: 2px;
				text-align: center;
				border-radius: 5px;

				.image {

					width: 100%;
					display: flex;
					justify-content: center;

					@include tablet {
						flex-grow: 1;
					}

					img {
						height: 280px;


					}
				}


			}
		}

		// Owl dot Active color overide
		.owl-dots {
			.owl-dot {
				&:hover {
					span {
						background: $primary-color;
					}
				}

				&.active {
					span {
						background: $primary-color;
					}
				}
			}
		}
	}
}